.sidebar{
  width:220px;
  height: 100vh;
  background:#1f2a44;
  color:white;
  padding:20px;
}

.logo{
  margin-bottom:30px;
}

nav{
  display:flex;
  flex-direction:column;
  gap:15px;
}

a{
  color:white;
  text-decoration:none;
  padding:8px;
}

a:hover{
  background:#2f3a5c;
}

.active{
  background:#2f3a5c;
  border-radius:4px;
}