<div class="task-container">
    <div class="add-button">
        <button class="add-btn">+ Add</button>
    </div>
    <div class="tasks-table">
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of tasks">
                    <td>{{task.title}}</td>
                    <td>{{task.status}}</td>
                    <td>{{task.priority}}</td>
                    <td>{{task.dueDate}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
